<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/style.css'>
    <link rel='icon' href='/favicon.svg'>
    <link rel='mask-icon' href='/favicon.svg' color='#e0e7f1'>
    <link rel='apple-touch-icon' href='/favicon.png'>
    {% block head %}{% endblock head %}
</head>

<body>
    {% block body %}{% endblock body %}
</body>

</html>