@import './styles/fonts.scss';
@import './styles/inputs.scss';

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #1f1e1e;
    color: #fff;
}

section {
    // padding: 5px;
    // padding-bottom: 0;
    // border-bottom: 2px solid #080808;
}

.page {
    flex-grow: 1
}

nav {
    display: flex;
    justify-content: center;
    background: #080808;
}

nav .btn:not(.active) {
    border-bottom: 3px solid transparent;
}

nav .btn.active {
    border-bottom: 3px solid #3684cc;
}

h2, h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-size: 11px;
    margin-bottom: 3px;
}

.list {
    padding: 10px;
    // background: #fff;
    // border: 1px solid #fcf4f4;
}

.btns {
    display: flex;
    padding: 0;
    color: #000;
}

.btns .launch {
    width: 70%;
    background: #64d622;
}

.btns .edit {
    width: 30%;
    background: #3684cc;
}

.options {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.options-list {
    flex-grow: 1;
}

.option {
    margin-bottom: 15px;
}

.mods {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.mods-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mods-options {
    display: flex;
    background: #080808;
    color: #fff;
}

.mods-options .btn {
    padding: 5px;
    margin-right: 10px;
    font-size: 11px;
}